.related-books-list {
  list-style-type: none;
  padding: 5;
  display: flex;
  overflow-x: auto;
}

.related-books-list li > a {
  display: block;
  height: 100%;
}

@media (min-width: 640px) {
  .related-books-list li {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .related-books-list li {
    height: 350px;
  }
}

@media (min-width: 1024px) {
  .related-books-list li {
    height: 400px;
  }
}
