/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #fcf1f4;
  margin: 0;
}

/* Not supported in ConfigProvider apparently... */
.ant-modal-container {
  border: 5px solid #ab77ff !important;
  border-radius: 16px !important;
}

.ant-layout-footer {
  font-size: 12 !important;
}

label {
  font-weight: 800;
}

#logo {
  height: calc(
    var(--ant-layout-header-height) - var(--ant-layout-header-padding) * 2
  );
}

.icon-btn {
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.icon-btn:hover {
  transform: scale(1.2);
}

.ant-typography h1 {
  font-weight: 1300; /* target H1 only */
}
