@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #fcf1f4;
  margin: 0;
}

/* Not supported in ConfigProvider apparently... */
.ant-modal-container {
  border: 5px solid #ab77ff !important;
  border-radius: 16px !important;
}

.ant-card-bordered {
  border: 1px solid #ab77ff !important;
  border-radius: 16px !important;
}

.ant-layout-footer {
  font-size: 12 !important;
}

label {
  font-weight: 800;
}

.icon-btn {
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.icon-btn:hover {
  transform: scale(1.2);
}

.ant-typography h1 {
  font-weight: 1300; /* target H1 only */
}

/* Utilitzem important perquè antd no dona cap solució per alinear el text d'aquests inputs a la dreta */
/* Right-align text for InputNumber */
.ant-input-number-input-wrap {
  padding-right: 18px !important;
}

.ant-input-number-input-wrap > input.ant-input-number-input {
  text-align: right !important;
}

/* Right-align text and cursor for InputNumber */
.ant-input-number-input {
  text-align: right !important;
  caret-color: transparent !important; /* Hides the blinking cursor */
}

.ant-input-number-input::placeholder {
  text-align: left !important; /* Explicitly Left-aligns the placeholder text */
}

.ant-input-number-input:focus {
  caret-color: auto !important; /* Shows the cursor when focused */
}

section {
  padding-top: 0.5rem;
}

h1 {
  font-weight: 900 !important;
}

.main-content {
  flex: 1;
  padding: 5px;
}

@media (min-width: 768px) {
  .main-content {
    padding: 12px;
  }
}

@media (min-width: 1024px) {
  .main-content {
    padding: 16px;
  }
}

@media (min-width: 1280px) {
  .main-content {
    padding: 20px;
  }
}

.container-max-width {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  section {
    padding-top: 0.75rem;
  }
}

@media (min-width: 1024px) {
  section {
    padding-top: 1rem;
  }
}