.categories-list {
  list-style-type: none;
  padding: 5px;
  white-space: nowrap;
  overflow-x: auto;
}

.categories-list li {
  position: relative;
  display: inline-block;
  margin-right: 0.75rem;
}

@media (min-width: 768px) {
  .categories-list {
    padding: 12px 0;
    white-space: normal;
    overflow-x: visible;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .categories-list li {
    display: block;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .categories-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
  }
}

@media (min-width: 1280px) {
  .categories-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}
