.continue-reading-list {
  list-style-type: none;
  padding: 5;
  white-space: nowrap;
  overflow-x: auto;
}

.continue-reading-list li {
  position: relative;
  display: inline-block;
  margin-right: 0.75rem;
}

.progress-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%);
  z-index: 100;
}
